<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">

<object id="ISqlExportService" type="SqlExport.SqlExportService">
  <property name="DBUtility" ref="IDBUtility"></property>
  <property name="DbToExcel" ref="IDbToExcel"></property>
  <property name="DbToCsv" ref="IDbToCsv"></property>
  <property name="DataTabletoExcel" ref="IDataTabletoExcel"></property>
 </object>
  <object id="IDBUtility" type="SqlExport.DBUtility.DbHelperSql"/>
    <object id="IDbToExcel" type="SqlExport.DbToExcel"/>
    <object id="IDbToCsv" type="SqlExport.DbToCsv"/>
  <object id="IDataTabletoExcel" type="SqlExport.DataTableToExcel"/>
</objects>