<title>登录</title>
<link rel="stylesheet" type="text/css" href="~/resource/Css/mail.css" />
<link rel="stylesheet" type="text/css" href="~/resource/css/common.css" />
<script type="text/javascript" src="@Url.Content("~/Resource/Scripts/jquery-1.10.2.min.js")"></script>

<div>
    <div class="banner">MSSQL数据库登录</div>
    <div>身份验证 <select>
            <option value="Windows身份验证">Windows身份验证</option>
            <option value="SQL Server身份验证">SQL Server身份验证</option>
        </select>
    </div>
    <div>服务器 <select>
            <option value="(local)">(local)</option>
            <option value="10.28.10.77">10.28.10.77</option>
        </select>
    </div>
    <div>用户名
       <input name="username" />

    </div>
    <div>密码
        <input name="password"/>
    </div>

    <div>
        数据库
        <select>
            <option value="batisTable">batisTable</option>
            <option value="master">master</option>
        </select>
    </div>
    <div class="ExportToCsv" >测试连接</div>
    <div>登录数据库</div>
    <div>开启SQL服务</div>
    <div>停止SQL服务</div>
</div>