<script id="SearchSqlResultTemplate" type="text/html">
    <table border="1" cellpadding="5" cellspacing="5">
        <thead>
            <tr>
                <th>levels</th>
                <th>name</th>
                <th>parentID</th>
                <th>birthDate</th>
                <th>teacherID</th>
                <th>RowNum</th>
            </tr>
        </thead>
        <tbody>
            {{each list as value}}
            <tr PKID="{{value.levels}}">
                <td>{{value.levels}}</td>
                <td>{{value.name}}</td>
                <td>{{value.parentID}}</td>
                <td>{{value.birthDate}}</td>
                <td>{{value.teacherID}}</td>
                <td>{{value.RowNum}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>