<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Com.Centaline.Framework.Kernel" version="0.0.0.1006" targetFramework="net452" />
  <package id="Com.Centaline.Framework.QuickQuery" version="0.0.0.9323" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
</packages>